body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa; /* Világoskék háttérszín */
}

header, main, footer {
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
}

header {
    background-color: #007bff; /* Kék háttérszín */
    color: white; /* Fehér szöveg */
    text-align: center;
}

main {
    background-color: #ffffff;
}

footer {
    background-color: #007bff; /* Kék háttérszín */
    color: white; /* Fehér szöveg */
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: #bbdefb; /* Kártyák világoskék háttérszíne */
}

    .card img {
        max-width: 100%;
        height: auto;
    }

    .card h2 {
        font-size: 1.5em;
        margin: 10px 0;
    }

    .card p {
        font-size: 1em;
        margin: 10px 0;
    }

    .card button {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 1em;
    }

        .card button:hover {
            background-color: #0056b3;
        }
